@model OPUPMS.Web.MainSystem.Models.Dtos.GroupInputDto
@{
    Layout = Url.Content(Plugin.Instance.GetLayoutPath("Shared/GroupTemplate.cshtml"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>OPU-PMS 一站式快捷管理系统</title>

</head>

<body style="background:#f1f1f1; ">
    <div id="page_home">
        <div style="text-align:center;">
            <table>
                <tr>
                    <td height="50px" width="120px"><button type="button" onclick="setting()">全局参数设置</button></td>
                    <td height="50px" width="120px"><button type="button">用户角色设置</button></td>
                    <td height="50px" width="120px"><button type="button" onclick="hotel()">客房设置</button></td>
                    <td height="50px" width="120px"><button type="button" onclick="res()">餐饮设置</button></td>
                    <td height="50px" width="120px"><button type="button" onclick="getGroupLsit()">集团列表</button></td>
                    <td height="50px" width="120px"><button type="button" onclick="logout()">退出系统</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div style="text-align:center; width:800px;">
        <div>
            <h2>添加集团</h2>
        </div>
        <div style="padding-left:30%">
            @using (Html.BeginForm("SaveGroup", "Group", new { prefix = "MS"}, FormMethod.Post, null))
            {
                <table width="500px">
                    <tr>
                        <th width="150px">集团代码：</th>
                        <td align="left">
                            @Html.ValidationMessageFor(m => m.Code)
                            @Html.TextBoxFor(m => m.Code)
                        </td>
                    </tr>
                    <tr>
                        <th>集团名称：</th>
                        <td align="left">
                            @Html.ValidationMessageFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>集团全称：</th>
                        <td align="left">
                            @Html.ValidationMessageFor(m => m.FullName)
                            @Html.TextBoxFor(m => m.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th>所在区域：</th>
                        <td align="left"></td>
                    </tr>
                    <tr>
                        <th>地址：</th>
                        <td align="left">
                            @Html.ValidationMessageFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address)
                        </td>
                    </tr>
                    <tr>
                        <th>办公电话：</th>
                        <td align="left">
                            @Html.TextBoxFor(m => m.ContactTel)
                        </td>
                    </tr>
                    <tr>
                        <th>邮箱：</th>
                        <td align="left">
                            @Html.TextBoxFor(m => m.Email)
                        </td>
                    </tr>
                    <tr>
                        <th>法人代表：</th>
                        <td align="left">
                            @Html.ValidationMessageFor(m => m.Manager)
                            @Html.TextBoxFor(m => m.Manager)
                        </td>
                    </tr>
                    <tr>
                        <th>联系电话：</th>
                        <td align="left">
                            @Html.TextBoxFor(m => m.Phone)
                        </td>
                    </tr>
                    <tr>
                        <th>内容：</th>
                        <td align="left">
                            @Html.TextAreaFor(m => m.Content, 3)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" id="btnAdd" value="添加" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>

    <script>
        function logout() { window.location.href = "/User/Logout"; }
        function hotel() { window.location.href = "/H/CloudPMS/Index"; }
        function res() { window.location.href = "/Res/Home/Index"; }
        function setting() { window.location.href = "/MS/Home/Index"; }
        function getGroupLsit() { window.location.href = "/MS/Group/List"; }
    </script>
</body>
</html>

