@using OPUPMS.Domain.Base.Dtos;
@{
    Layout = Url.Content(Plugin.Instance.GetLayoutPath("Shared/_LayoutDetail.cshtml"));
    List<ExtendItemDto> CustomerSources = ViewBag.CustomerSources;
    List<ExtendItemDto> OrderTypes = ViewBag.OrderTypes;
    TableCreateDTO Table = ViewBag.Table;
    List<MarketListDTO> Markets = ViewBag.Markets;
    List<OPUPMS.Domain.Base.ConvertModels.TypeCodeInfo> Customers = ViewBag.CustomerList;
}
<div class="container">
    <form class="form-horizontal" id="SubmitForm">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Table.RestaurantId" id="Cyct" name="Cyct" />
        <h3 class="text-center">台号:@Table.Name</h3>
        <div class="form-group">
            <label for="" class="col-xs-2 control-label">客源类型:</label>
            <div class="col-xs-4">
                <select id="CyddOrderSource" name="CyddOrderSource" class="form-control">
                    <option value="0">请选择</option>
                    @{
                        foreach (var item in CustomerSources)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <label for="" class="col-xs-2 control-label">就餐人数:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="PersonNum" name="PersonNum" />
            </div>
        </div>
        <div class="form-group">
            <label for="ContactPerson" class="col-xs-2 control-label">联系人:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="ContactPerson" name="ContactPerson" />
            </div>
            <label for="ContactTel" class="col-xs-2 control-label">联系电话:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="ContactTel" name="ContactTel" />
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-xs-2 control-label">分市:</label>
            <div class="col-xs-4">
                <select id="markerId" name="markerId" class="form-control">
                    <option value="0">请选择</option>
                    @{
                        if (Markets != null)
                        {
                            foreach (var item in Markets)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <label for="Customers" class="col-xs-2 control-label">客户:</label>
            <div class="col-xs-4">
                <select id="CustomerId" name="CustomerId" class="form-control">
                    <option value="0">请选择</option>
                    @{
                        if (Customers != null)
                        {
                            foreach (var item in Customers)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-xs-2 control-label">台号选择:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="TableIds" name="TableIds" value="@Table.Name" readonly />
            </div>
            <label for="Customers" class="col-xs-2 control-label">订单类型:</label>
            <div class="col-xs-4">
                <select id="OrderType" name="OrderType" class="form-control">
                    <option value="0">请选择</option>
                    @{
                        if (OrderTypes != null)
                        {
                            foreach (var item in OrderTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Remark" class="col-xs-2 control-label">备注信息:</label>
            <div class="col-xs-10">
                <textarea id="Remark" name="Remark" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">提交</button>
            <button class="btn btn-default closeAll" type="button">取消</button>
        </div>
    </form>
</div>
@section FooterScripts{
    <script>
    var tabIds = [];
    tabIds.push('@Table.Id');

    $(function () {
        var pageJs = editJs.Create();
        pageJs.init();
    })

    var editJs = {
        Create: function () {
            var editor = {};
            var layindex;

            var bindAction = function () {
                var height = $(document).height() - 100;
                var width = $(document).width() - 100;
                var newDate = new Date();
                var t = newDate.toJSON();

                $('.datetimepicker').datetimepicker({
                    language: 'zh-CN',//显示中文
                    format: 'yyyy-mm-dd hh:ii',//显示格式
                    autoclose: true,
                    startDate: new Date(t)
                })

                $("#SubmitForm").validate({
                    rules: {
                        CyddOrderSource: {
                            min: 1
                        },
                        PersonNum: {
                            isIntGteZero:true
                        },
                        markerId: {
                            min:1
                        }
                    },
                    messages: {
                        CyddOrderSource: {
                            min: "请选择订单来源"
                        },
                        markerId: {
                            min:"请选择分市"
                        }
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent());
                    },
                    submitHandler: function (label) {
                        Submit();
                    }
                })
                
                function Submit() {
                    if (tabIds.length <= 0) {
                        layer.msg('请选择一个桌号进行拼台操作', {
                            time: 4000
                        });
                        return false;
                    }
                    var para = {
                        req: {
                            CyddOrderSource: $("#CyddOrderSource").val(),
                            PersonNum: $("#PersonNum").val(),
                            ContactPerson: $("#ContactPerson").val(),
                            ContactTel: $("#ContactTel").val(),
                            R_Market_Id: $("#markerId").val(),
                            Remark: $("#Remark").val(),
                            R_Restaurant_Id: '@Table.RestaurantId',
                            CustomerId: $("#CustomerId").val(),
                            OrderType: $("#OrderType").val()
                        },
                        tableIds: tabIds
                    };

                    $.ajax({
                    //$.ajaxAntiForgery({
                        type: "post",
                        url: "/Res/Home/OpenUsingTableCreate",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(para),
                        async: false,
                        beforeSend: function (XMLHttpRequest) {
                            layindex = layer.open({
                                type: 3,
                                shadeClose: true,
                            });
                        },
                        success: function (data, textStatus) {
                            var res = data.Data;
                            if (res.OrderId > 0) {
                                layer.confirm("提交完成", {
                                    btn: ['进行点餐操作', '取消'] //按钮
                                }, function () {
                                    location.href = "/Res/Home/BatchChoseProject?orderTableIds=" + res.OrderTableIds.join(",");
                                }, function () {
                                    parent.layer.closeAll();
                                });
                                parent.Refresh();
                            } else {
                                layer.alert(data["Message"]);
                            }
                        },
                        complete: function (XMLHttpRequest, textStatus) {
                            layer.close(layindex);
                        }
                    });
                }

                $(".closeAll").click(function () {
                    parent.layer.closeAll();
                })
            }

            editor.init = function () {
                bindAction();
            }

            return editor;
        }
    }
    </script>
}