@{
    Layout = null;
    ViewBag.Title = "套餐管理";
    List<RestaurantListDTO> Restaurants = ViewBag.Restaurants;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>餐厅管理</title>
    @StylesEx.Render(FrameworkInfo.Name, "LayUIStyle2x")
    @StylesEx.Render(Plugin.Instance.Name, "PublicStyle")
</head>
<body>

    <header class="container-head" style="padding-top: 15px;">
        <div class="layui-form">
            <button type="button" class="layui-btn add layui-btn-normal" onclick="AddPackage ('添加套餐',0);">
                <span class="layui-icon" style="font-size: 24px; color: #fff;">&#xe654;</span>添加
            </button>

            <div class="layui-form-item" style="float: right; padding-top: 5px;">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 70px;">销售价格：</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" id="MinPrice" name="MinPrice" placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text"  id="MaxPrice" name="MaxPrice"  placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 30px;">名称</label>
                    <div class="layui-input-inline">
                        <input type="text"  id ="Name" name="Name" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-primary" style="float: left;" id="SearchSubmit">查询</button>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="padding-right: 20px;">
        <table id="table" lay-filter="table"></table>
    </div>
    <footer class="footer-copyright">
        <img src="@Url.Content(Plugin.Instance.GetContentPath("Images/logo-footer.png"))" alt="">
    </footer>
</body>
</html>

<script type="text/html" id="IsOnSale">
    {{#  if(d.IsOnSale==true){ }}
    <i class="layui-icon" style="color:#5FB878">&#xe618;</i>
    {{#  }else{ }}

    {{#  } }}
</script>

<script type="text/html" id="bartable">
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit"><i class="iconfont">&#xe633;</i> 编辑</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="t-del" data-id="{{d.Id}}"><i class="layui-icon" style="margin:0">&#xe640;</i>删除</a>
</script>

@ScriptsEx.Render(FrameworkInfo.Name, "CommonJs")
@ScriptsEx.Render(FrameworkInfo.Name, "LayUIJs2x")
@ScriptsEx.Render(Plugin.Instance.Name, "PublicJs")
@ScriptsEx.Render(Plugin.Instance.Name, "Keyboard")

@ScriptsEx.Render(FrameworkInfo.Name, "JqSignalR")
<script type="text/javascript">
	var isEdIT = false;
	var para = {ListType: '1',Name : $('#Name').val() ,MinPrice: $('#MinPrice').val() ,MaxPrice: $('#MaxPrice').val()};
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element,
            layer = layui.layer;
            table = layui.table;
        var winw = $(window).width() - 50;
        table.render({
            elem: '#table' //指定原始表格元素选择器（推荐id选择器）
            , url: "/Res/Package/GetPackages"
            , where: para
            , height: 'full-141' //容器高度
            , request: {
                pageName: 'offset' //页码的参数名称，默认：page
            }
            , response: {
                countName: 'total' //数据总数的字段名称，默认：count
                , dataName: 'rows' //数据列表的字段名称，默认：data
            }
            , cols: [[ //标题栏
                { field: 'Name', title: '名称', width: winw * 0.22 }
                , { field: 'CostPrice', title: '成本价', width: winw * 0.12, sort: true }
                , { field: 'Price', title: '销售价', width: winw * 0.12, sort: true }
                , { field: 'IsOnSale', title: '上架', width: winw * 0.10, toolbar: '#IsOnSale' }
                , { field: 'Describe', title: '描述信息', width: winw * 0.31 }
                , { field: 'Id', title: '操作', minWidth: '150', toolbar: '#bartable',fixed: 'right' }
            ]]
            , even: true
            , page: {
            	hash: 'fenye'
            }
            , skin : 'line'
            , limits: [5, 10, 15, 20]
            , limit: 10 //每页默认显示的数量
            , done: function (res, curr, count) {
				isEdIT = false;
            }
        });


        //监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            var id = data.Id;
            if (obj.event === 'edit') {
            	isEdIT = true;
            	AddPackage ('套餐编辑',id);
               // layerBox('/Res/Package/NewEdit2', id, '套餐编辑');
            }else if(obj.event === 't-del'){
	        	layer.confirm('确定要删除', {
					icon: 7, title:'提示',
			        btn: ['确定', '取消'] //按钮
			    }, function (index) {
			        $.ajax({
			            type: "post",
			            url: '/Res/Package/IsDelete',
			            dataType: "json",
			            //contentType: "application/json; charset=utf-8",
			            data: {id:id},
			            async: false,
			            beforeSend: function (XMLHttpRequest) {
			                layindex = layer.open({type: 3});
			            },
			            complete: function (XMLHttpRequest, textStatus) {
			                layer.close(layindex);
			            },
			            success: function (data, textStatus) {
			                if (data["Data"] == true) {
			                	//如果当前页只有一条并且即将删除
			                	if($('#table').next().find('.layui-table-body tr').length == 1){
                                	var curr = location.hash.replace('#!fenye=', '');
                                	location.hash = '#!fenye=' + curr == 1 ? curr : --curr
                                }
								table.reload('table', {
					                where: para
					                ,page: {
									    curr: location.hash.replace('#!fenye=', '') //重新从第 1 页开始
									}
					            });
								layer.close(index);
			                    layer.msg("删除成功");
			                } else {
			                    layer.alert(data["Message"]);
			                }
			            }
			        });
			    }, function (index) {
			        layer.close(index);
			    });
	        }
        });

        //监听排序点击
        table.on('sort(table)', function (obj) {
            var Name = $('#Name').val();
            var MinPrice = $('#MinPrice').val();
            var MaxPrice = $('#MaxPrice').val();

            table.reload('tableReload', {
                initSort: obj
                , where: { //请求参数
                    ListType: '1'
                    , sort: obj.field //排序字段
                    , order: obj.type //排序方式
                    , Name: Name
                    , MinPrice: MinPrice
                    , MaxPrice: MaxPrice
                }
            });
        });
        
        //select条件筛选
        $('#SearchSubmit').click(function () {
            para.Name =  $('#Name').val();
            para.MinPrice =  $('#MinPrice').val();
            para.MaxPrice =  $('#MaxPrice').val();
            var curr = isEdIT ? location.hash.replace('#!fenye=', '') : 1;
            location.hash = '#!fenye=' + curr
            table.reload('table', {
                where: para
                ,page: {
				    curr: curr //重新从第 1 页开始
				}
            });
        });

    });
    
    function AddPackage (title,id) {
    	layer.open({
		    type: 2,
		    anim: -1,
		    title: title,
		    shadeClose: true,
		    skin: 'layer-header', 
		    shade: 0.8,
		    area: ['80%', '80%'],
		    content: "/Res/Package/NewEdit2?id="+id,
		    end : function(){
		    	table.reload('table', {
	                where: para
	                ,page: {
	                	hash: 'fenye',
					    curr: location.hash.replace('#!fenye=', '') //重新从第 1 页开始
					}
	            });
		    }
	    }); 
    }
</script>