@using OPUPMS.Domain.Restaurant.Model.Dtos;
@{
    Layout = @Url.Content(Plugin.Instance.GetLayoutPath("Shared/_LayoutDetail_1.cshtml"));
    RestaurantCreateDTO Restaurant = ViewBag.Restaurant ?? new RestaurantCreateDTO();
}

<div class="container">
    <form class="form-horizontal" id="SubmitForm">
        <div class="form-group">
            <label for="Name" class="col-xs-2 control-label">名称:</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="请输入名称" value="@Restaurant.Name">
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-xs-2 control-label">餐饮描述:</label>
            <div class="col-xs-10">
                <textarea id="Description" name="Description" rows="15">@Restaurant.Description</textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">提交</button>
            <button class="btn btn-default closeAll" type="button">取消</button>
        </div>
        <input type="hidden" value="@Restaurant.Id" name="Id" />
        <input type="hidden" value="@Restaurant.R_Company_Id" name="R_Company_Id" />
        @Html.AntiForgeryToken()
    </form>
</div>
@section FooterScripts{
    @ScriptsEx.Render(Plugin.Instance.Name, "CkediterJs")
    <script>
        $(function () {
            var pageJs = editJs.Create();
            pageJs.init();
        })

        var editJs = {
            Create: function () {
                var editor = {};
                var layindex;

                var bindAction = function () {
                    var height = $(document).height() - 250;
                    var editorElement = CKEDITOR.replace('Description', { height: height });

                    $("#SubmitForm").validate({
                        rules: {
                            Name: {
                                required: true
                            }
                        },
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parent());
                        },
                        submitHandler: function (label) {
                            Submit();
                        }
                    })

                    function Submit() {
                        var description = editorElement.document.getBody().getHtml();
                        var para = $("#SubmitForm").serializeArray();
                        var params = {};

                        $.each(para, function (index, field) {
                            params[field.name] = field.value;
                        });

                        params.Description = description;
                        $.ajax({
                            type: "post",
                            url: "/Res/Restaurant/Edit",
                            dataType: "json",
                            data: params,
                            beforeSend: function (XMLHttpRequest) {
                                layindex = layer.open({
                                    type: 3,
                                    shadeClose: false,
                                });
                            },
                            success: function (data, textStatus) {
                                if (data["Data"] == true) {
                                    layer.confirm("提交完成", {
                                        btn: ['继续操作', '关闭'] //按钮
                                    }, function () {
                                        location.reload();
                                    }, function () {
                                        parent.layer.closeAll();
                                    });
                                    parent.Refresh();
                                } else {
                                    layer.alert(data["Message"]);
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                layer.close(layindex);
                            }
                        });
                    }

                    $(".closeAll").click(function () {
                        parent.layer.closeAll();
                    })
                }

                editor.init = function () {
                    bindAction();
                }

                return editor;
            }
        }
    </script>
}