@using OPUPMS.Domain.Restaurant.Model.Dtos;

@{
    Layout = null;
    AreaCreateDTO Area = ViewBag.Area ?? new AreaCreateDTO();
    var ListRestaurant = ViewBag.Restaurants;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>餐厅管理</title>
    @StylesEx.Render(FrameworkInfo.Name, "LayUIStyle2x")
    @StylesEx.Render(Plugin.Instance.Name, "PublicStyle")
</head>
<body>

    <div class="layui-tab layui-tab-brief layer-form-box" lay-filter="docDemoTabBrief">
        <div class="layui-tab-content">
            <form class="layui-form form-col-two" id="SubmitForm">
                @Html.AntiForgeryToken()
                <div class="layui-row">
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">餐厅：</label>
                        <div class="layui-input-inline">
                            <select id="Restaurant" name="Restaurant" lay-verify="required" lay-required-msg="请选择餐厅" lay-search>
                                <option value="">请选择</option>
                                @{
                                    if (ListRestaurant != null)
                                    {
                                        foreach (var item in ListRestaurant)
                                        {
                                <option value="@item.Id" @(Area.Restaurant == item.Id ? "selected='selected'" : "")>@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="Name" name="Name" placeholder="请输入名称" lay-verify="required" lay-required-msg="请输入名称" value="@Area.Name">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">服务费率：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="ServerRate" name="ServerRate" lay-verify="required|number|ServerRate" lay-required-msg="请填写费率" placeholder="请输入服务费率" value="@(Area.ServerRate==null ? 0 : Area.ServerRate)">
                        </div>
                        @{
                            if (Area.Id > 0)
                            {
                                <div class="layui-input-inline">
                                    <input type="checkbox" id="IsUpdate" name="IsUpdate" value="1" title="更新区域台号">
                                </div>
                            }
                        }
                    </div>

                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">描述：</label>
                        <div class="layui-input-block">
                            <textarea id="Description" name="Description" class="layui-textarea" rows="10">@Area.Description</textarea>
                        </div>
                    </div>

                    <div class="layer-btns-bottom">
                    	<button class="layui-btn layui-btn-normal" lay-submit lay-filter="form1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</button>
                    </div>
                    <input type="hidden" name="Id" value="@Area.Id" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
@ScriptsEx.Render(FrameworkInfo.Name, "CommonJs")
@ScriptsEx.Render(FrameworkInfo.Name, "LayUIJs2x")
@ScriptsEx.Render(Plugin.Instance.Name, "PublicJs")
@ScriptsEx.Render(Plugin.Instance.Name, "Keyboard")

@ScriptsEx.Render(FrameworkInfo.Name, "JqSignalR")
<script type="text/javascript">
    layui.use(['element', 'form', 'layer', 'layedit'], function () {
        var element = layui.element,
            layer = layui.layer,
            layedit = layui.layedit,
            form = layui.form;
        var textarea = layedit.build('Description', {tool: ['strong','italic','underline','del','|','left','center','right','link','unlink','face'], height: 150 });
		
		//给予默认服务费率 0 


		form.verify({
			ServerRate: function(value, item){
				if(value < 0 || value > 1 || value.indexOf('.') + 1 === value.length){
					return '费率必须大于等于0小于等于1且是数字';
				}
				if(value.split(".")[1] && value.split(".")[1].length > 2){
					return '费率最多只能有两位小数'
				}
			}
		});      
		
        //基本要求提交
        form.on('submit(form1)', function (data) {
            data.field.IsUpdate = data.field.IsUpdate == 1 ? true : false;
            var textVal = layedit.getContent(textarea);
            var params = data.field;
            params.Description = textVal;
            $.ajax({
                type: "post",
                url: "/Res/Area/Edit",
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                data: params,
                async: false,
                beforeSend: function (XMLHttpRequest) {
                    layindex = layer.open({type: 3});
                },
                success: function (data, textStatus) {
                    if (data["Data"] == true) {
                    	parent.layer.msg('提交完成')
                        parent.$('#SearchSubmit').click();
						parent.layer.close(parent.layer.getFrameIndex(window.name));
                        //parent.Refresh();
                    } else {
                        layer.alert(data["Message"]);
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    })
</script>


