@using OPUPMS.Domain.Restaurant.Model.Dtos;

@{
    Layout = null;
    StallsCreateDTO Stalls = ViewBag.Stalls ?? new StallsCreateDTO();
    List<PrinterDTO> PrinterList = ViewBag.PrinterList;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>餐厅管理</title>
    @StylesEx.Render(FrameworkInfo.Name, "LayUIStyle2x")
    @StylesEx.Render(Plugin.Instance.Name, "PublicStyle")
    <style>
    	.ClassTab-head .layui-tab-content{height:auto;}
    </style>
</head>
<body>

    <div class="layui-tab layui-tab-brief layer-form-box" lay-filter="docDemoTabBrief">
        <div class="layui-tab-content">
            <form class="layui-form form-col-two" id="SubmitForm">
                @Html.AntiForgeryToken()
                <div class="layui-row">
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="Name" name="Name" placeholder="请输入名称" lay-verify="required" lay-required-msg="请输入名称" value="@Stalls.Name">
                        </div>
                    </div>

                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">打印机：</label>
                        <div class="layui-input-inline">
                            <select id="Print_Id" name="Print_Id" lay-search>
                                <option value="0">请指定打印机</option>
                                @{
                                    if (PrinterList != null)
                                    {
                                        foreach (var item in PrinterList)
                                        {
                                            <option value="@item.Id" @(item.Id == Stalls.Print_Id ? "selected='selected'" : "")>@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">描述：</label>
                        <div class="layui-input-block">
                            <textarea id="Description" name="Description" class="layui-textarea" rows="15">@Stalls.Description</textarea>
                        </div>
                    </div>

                    <div class="layer-btns-bottom">
                    	<button class="layui-btn layui-btn-normal" lay-submit lay-filter="form1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


@ScriptsEx.Render(FrameworkInfo.Name, "CommonJs")
@ScriptsEx.Render(FrameworkInfo.Name, "LayUIJs2x")
@ScriptsEx.Render(Plugin.Instance.Name, "PublicJs")
<script type="text/javascript">
    layui.use(['element', 'form', 'layer', 'layedit'], function () {
        var element = layui.element,
            layer = layui.layer,
            layedit = layui.layedit,
            form = layui.form;
        var textarea = layedit.build('Description', {tool: ['strong','italic','underline','del','|','left','center','right','link','unlink','face'], height: 150 });

        //监听 是否开启 库存按钮点击 ，显示库存输入框
        form.on('checkbox(IsStock)', function (data) {
            if (data.elem.checked == true) {
                $('input#Stock').show();
            } else {
                $('input#Stock').hide();
            }
        });

        //基本要求提交
        form.on('submit(form1)', function (data) {
            var textVal = layedit.getContent(textarea);
            var params = data.field;
            params.Description = textVal;
            params.Id = '@Stalls.Id';
            $.ajax({
                type: "post",
                url: "/Res/Stalls/Edit",
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                data: params,
                async: false,
                beforeSend: function (XMLHttpRequest) {
	                layindex = layer.open({type: 3});
	            },
                success: function (data, textStatus) {
                    if (data["Data"] == true) {
                        parent.layer.msg('提交完成')
                        var curr = parent.isEdIT ? parent.location.hash.replace('#!fenye=', '') : 1;
			            parent.location.hash = '#!fenye=' + curr;
			            parent.table.reload('table', {
			                where: parent.para
			                ,page: {
							    curr: curr //重新从第 1 页开始
							}
			            });
						parent.layer.close(parent.layer.getFrameIndex(window.name));
                        //parent.Refresh();
                    } else {
                        layer.alert(data["Message"]);
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
