@using OPUPMS.Domain.Base.Models;
@{
    Layout = null;
    ExtendItemModel extendItem = ViewBag.ExtendItemModel ?? new ExtendItemModel();
    var typeId = ViewBag.TypeId;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>餐厅管理</title>
    @StylesEx.Render(FrameworkInfo.Name, "LayUIStyle2x")
    @StylesEx.Render(Plugin.Instance.Name, "PublicStyle")
</head>
<body>
    <div class="layui-tab layui-tab-brief layer-form-box" lay-filter="docDemoTabBrief">
        <div class="layui-tab-content">
            <form class="layui-form form-col-two" id="SubmitForm" style="padding-right: 55px;">
                @Html.AntiForgeryToken()
                <div class="layui-row">
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">代码：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="Code" name="Code" placeholder="请输入代码" lay-verify="required" lay-required-msg="请输入代码" value="@extendItem.Code">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="Name" name="Name" placeholder="请输入名称" lay-verify="required" lay-required-msg="请输入名称" value="@extendItem.Name">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">项值：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="ItemValue" name="ItemValue" placeholder="请输入项值" value="@extendItem.ItemValue">
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 100%;">
                        <label class="layui-form-label">排序：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="Sort" name="Sort" placeholder="请输入排序" lay-verify="required" lay-required-msg="请输入排序" value="@extendItem.Sort">
                        </div>
                    </div>
                    
                    <div class="layer-btns-bottom">
                		<button class="layui-btn layui-btn-normal" lay-submit lay-filter="form1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</button>
                    </div>
                    <input type="hidden" value="@typeId" name="TypeId" />
                    <input type="hidden" value="@extendItem.Id" name="Id" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@ScriptsEx.Render(FrameworkInfo.Name, "CommonJs")
@ScriptsEx.Render(FrameworkInfo.Name, "LayUIJs2x")
@ScriptsEx.Render(Plugin.Instance.Name, "PublicJs")
<script type="text/javascript">
    layui.use(['element', 'form', 'layer'], function () {
        var element = layui.element,
            layer = layui.layer,
            form = layui.form;

        //基本要求提交
        form.on('submit(form1)', function (data) {
            var params = data.field;
            $.ajax({
                type: "post",
                url: "/Res/CommonExtend/EditExtendItemSave",
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                data: params,
                async: false,
                beforeSend: function (XMLHttpRequest) {
                    layindex = layer.open({type: 3});
                },
                success: function (data, textStatus) {
                    if (data["Data"] == true) {
                        parent.layer.msg('提交完成')
                        var curr = parent.isEdIT ? parent.location.hash.replace('#!fenye=', '') : 1;
			            parent.location.hash = '#!fenye=' + curr;
			            parent.table.reload('table', {
			                where: parent.para
			                ,page: {
							    curr: curr //重新从第 1 页开始
							}
			            });
						parent.layer.close(parent.layer.getFrameIndex(window.name));
                        //parent.Refresh();
                    } else {
                        layer.alert(data["Message"]);
                    }
                },
                error: function () {
                    alert('出错了');
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
